(
  resources: {},
  entities: {
    6: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -251.16025,
            y: -14.608969,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -251.16025,
            y: -14.608969,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_hierarchy::components::children::Children": ([
          7,
        ]),
        "quartz::components::Radius": (87.638916),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Vertices": (8),
        "quartz::components::Visible": (),
        "quartz::components::Num": (0.0),
        "quartz::components::Order": (0),
        "quartz::components::Op": ("empty"),
        "quartz::components::Arr": ([
          42.0,
          105.0,
          420.0,
          1729.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    7: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.000001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -251.16025,
            y: -14.608969,
            z: 0.000001,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_text::text::Text": (
          sections: [
            (
              value: "6v0\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 18.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "order: 0\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "empty\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "0",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
          ],
          alignment: Left,
          linebreak_behavior: WordBoundary,
        ),
        "bevy_hierarchy::components::parent::Parent": (6),
        "quartz::components::Visible": (),
        "quartz::components::Save": (),
      },
    ),
    8: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 9.215316,
            y: 132.3016,
            z: 0.00001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 9.215316,
            y: 132.3016,
            z: 0.00001,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_hierarchy::components::children::Children": ([
          9,
        ]),
        "quartz::components::Radius": (67.33128),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Vertices": (8),
        "quartz::components::Visible": (),
        "quartz::components::Num": (0.0),
        "quartz::components::Order": (0),
        "quartz::components::Op": ("empty"),
        "quartz::components::Arr": ([
          42.0,
          105.0,
          420.0,
          1729.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    9: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.000001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 9.215316,
            y: 132.3016,
            z: 0.000011,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_text::text::Text": (
          sections: [
            (
              value: "8v0\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 18.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "order: 0\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "empty\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "0",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
          ],
          alignment: Left,
          linebreak_behavior: WordBoundary,
        ),
        "bevy_hierarchy::components::parent::Parent": (8),
        "quartz::components::Visible": (),
        "quartz::components::Save": (),
      },
    ),
    10: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 189.20721,
            y: -50.350254,
            z: 0.00002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 189.20721,
            y: -50.350254,
            z: 0.00002,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_hierarchy::components::children::Children": ([
          11,
        ]),
        "quartz::components::Radius": (74.19018),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Vertices": (8),
        "quartz::components::Visible": (),
        "quartz::components::Num": (0.0),
        "quartz::components::Order": (0),
        "quartz::components::Op": ("empty"),
        "quartz::components::Arr": ([
          42.0,
          105.0,
          420.0,
          1729.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    11: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.000001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 189.20721,
            y: -50.350254,
            z: 0.000021,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_text::text::Text": (
          sections: [
            (
              value: "10v0\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 18.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "order: 0\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "empty\n",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
            (
              value: "0",
              style: (
                font: Weak(Uuid(
                  uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
                )),
                font_size: 12.0,
                color: Rgba(
                  red: 0.0,
                  green: 0.0,
                  blue: 0.0,
                  alpha: 1.0,
                ),
              ),
            ),
          ],
          alignment: Left,
          linebreak_behavior: WordBoundary,
        ),
        "bevy_hierarchy::components::parent::Parent": (10),
        "quartz::components::Save": (),
      },
    ),
  },
)