(
  resources: {},
  entities: {
    4294967302: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 31.249844,
            y: 8.672024,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          4294967307,
          4294967310,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (119.31736),
        "quartz::components::Order": (2),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("apply"),
        "quartz::components::Col": (Hsla(
          hue: 1.0,
          saturation: 1.0,
          lightness: 0.84,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          1.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    4294967303: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 230.01929,
            y: 174.24498,
            z: 0.01,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          4294967309,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (73.49108),
        "quartz::components::Order": (1),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("empty"),
        "quartz::components::Col": (Hsla(
          hue: 1.0,
          saturation: 1.0,
          lightness: 0.84,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          4.0,
          3.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    4294967304: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -109.317085,
            y: 211.3723,
            z: 0.02,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          4294967306,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (87.529976),
        "quartz::components::Order": (1),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("<()"),
        "quartz::components::Col": (Hsla(
          hue: 1.0,
          saturation: 1.0,
          lightness: 0.84,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    4294967306: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 26.455193,
            y: -49.500366,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967304),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (13.129497),
        "quartz::components::BlackHole": (
          wh: 4294967307,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    4294967307: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -52.130962,
            y: 52.161163,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967302),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (17.897604),
        "quartz::components::WhiteHole": (
          bh: 4294967306,
          bh_parent: 4294967304,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    4294967309: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -28.509903,
            y: -32.979385,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967303),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (11.023663),
        "quartz::components::BlackHole": (
          wh: 4294967310,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    4294967310: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 55.50789,
            y: 59.94815,
            z: 0.002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967302),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (17.897604),
        "quartz::components::WhiteHole": (
          bh: 4294967309,
          bh_parent: 4294967303,
          link_types: (-13, 2),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
  },
)