(
  resources: {},
  entities: {
    4294967302: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -50.204082,
            y: 1.0325599,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          8589934603,
          4294967317,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (95.033134),
        "quartz::components::Order": (1),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("feedback()"),
        "quartz::components::Col": (Hsla(
          hue: 1.0,
          saturation: 1.0,
          lightness: 0.84,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    4294967303: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -218.78516,
            y: 169.3527,
            z: 0.01,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          8589934604,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (74.22062),
        "quartz::components::Order": (0),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("add(0)"),
        "quartz::components::Col": (Hsla(
          hue: 1.0,
          saturation: 1.0,
          lightness: 0.84,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    4294967304: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -29.309309,
            y: -203.75084,
            z: 0.02,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          4294967315,
          4294967318,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (89.815765),
        "quartz::components::Order": (2),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("apply"),
        "quartz::components::Col": (Hsla(
          hue: 1.0,
          saturation: 1.0,
          lightness: 0.84,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          3.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    4294967305: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 185.41212,
            y: -10.693484,
            z: 0.03,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          21474836490,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (80.82238),
        "quartz::components::Order": (0),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("setarr1"),
        "quartz::components::Col": (Hsla(
          hue: 1.0,
          saturation: 1.0,
          lightness: 0.84,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          1.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    4294967315: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 46.658287,
            y: 31.264984,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967304),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (13.472365),
        "quartz::components::WhiteHole": (
          bh: 21474836490,
          bh_parent: 4294967305,
          link_types: (-13, 2),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    4294967317: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -3.4471436,
            y: -72.72543,
            z: 0.002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967302),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (14.254971),
        "quartz::components::BlackHole": (
          wh: 4294967318,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    4294967318: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -17.716684,
            y: 54.54512,
            z: 0.002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967304),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (13.472365),
        "quartz::components::WhiteHole": (
          bh: 4294967317,
          bh_parent: 4294967302,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    8589934603: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -60.73322,
            y: 53.35279,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967302),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (14.254971),
        "quartz::components::WhiteHole": (
          bh: 8589934604,
          bh_parent: 4294967303,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    8589934604: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 37.380035,
            y: -31.733704,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967303),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (11.133093),
        "quartz::components::BlackHole": (
          wh: 8589934603,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    21474836490: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -33.06891,
            y: -30.94207,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (4294967305),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (12.123358),
        "quartz::components::BlackHole": (
          wh: 4294967315,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
  },
)