(
  resources: {},
  entities: {
    7: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 10.404738,
            y: 120.51727,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          24,
          16,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (89.99017),
        "quartz::components::Order": (1),
        "quartz::components::Num": (13.340997),
        "quartz::components::Op": ("var()"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    8: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 263.81293,
            y: 129.19353,
            z: 0.01,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          22,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (64.03638),
        "quartz::components::Order": (1),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("organ()"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    9: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 313.8378,
            y: -83.99739,
            z: 0.02,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          14,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (62.865776),
        "quartz::components::Order": (1),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("saw()"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    10: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 124.15007,
            y: -47.794037,
            z: 0.03,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          23,
          21,
          25,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (65.38379),
        "quartz::components::Order": (2),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("pipe()"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    11: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -84.686195,
            y: -117.978905,
            z: 0.04,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          20,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (79.507195),
        "quartz::components::Order": (4),
        "quartz::components::Num": (2.0),
        "quartz::components::Op": ("out()"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    12: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 120.85135,
            y: -217.82793,
            z: 0.049999997,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          15,
          17,
          27,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (70.3446),
        "quartz::components::Order": (2),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("pipe()"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    13: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -188.27979,
            y: 68.32578,
            z: 0.059999995,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          26,
          18,
          19,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (75.00011),
        "quartz::components::Order": (3),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("stack()"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          0.0,
          1.0,
          2.0,
          3.0,
          4.0,
          5.0,
          6.0,
          7.0,
          8.0,
          9.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    14: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -19.487701,
            y: -33.984497,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (9),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (9.429867),
        "quartz::components::BlackHole": (
          wh: 15,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    15: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 42.016525,
            y: 11.555908,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (12),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (10.55169),
        "quartz::components::WhiteHole": (
          bh: 14,
          bh_parent: 9,
          link_types: (0, 2),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    16: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -4.5729823,
            y: -54.391975,
            z: 0.002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (7),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (13.498527),
        "quartz::components::BlackHole": (
          wh: 17,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    17: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -32.71003,
            y: 43.060547,
            z: 0.002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (12),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (10.55169),
        "quartz::components::WhiteHole": (
          bh: 16,
          bh_parent: 7,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    18: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 37.913513,
            y: 11.673523,
            z: 0.002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (13),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (11.250016),
        "quartz::components::WhiteHole": (
          bh: 25,
          bh_parent: 10,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    19: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 3.5203552,
            y: -52.252506,
            z: 0.003,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (13),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (11.250016),
        "quartz::components::BlackHole": (
          wh: 20,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    20: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -37.335464,
            y: 21.980225,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (11),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (11.92608),
        "quartz::components::WhiteHole": (
          bh: 19,
          bh_parent: 13,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    21: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 30.499344,
            y: 39.52923,
            z: 0.002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (10),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (9.807569),
        "quartz::components::WhiteHole": (
          bh: 22,
          bh_parent: 8,
          link_types: (0, 2),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    22: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -21.521622,
            y: -28.867409,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (8),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (9.605457),
        "quartz::components::BlackHole": (
          wh: 21,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    23: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -24.50454,
            y: 34.179924,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (10),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (9.807569),
        "quartz::components::WhiteHole": (
          bh: 24,
          bh_parent: 7,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    24: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 24.107128,
            y: -40.436584,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (7),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (13.498527),
        "quartz::components::BlackHole": (
          wh: 23,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    25: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -46.11419,
            y: -5.5789986,
            z: 0.003,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (10),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (9.807569),
        "quartz::components::BlackHole": (
          wh: 18,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    26: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 26.745605,
            y: -27.242775,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (13),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (11.250016),
        "quartz::components::WhiteHole": (
          bh: 27,
          bh_parent: 12,
          link_types: (0, 2),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    27: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -40.31005,
            y: -7.51976,
            z: 0.003,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (12),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (10.55169),
        "quartz::components::BlackHole": (
          wh: 26,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
  },
)