(
  resources: {},
  entities: {
    6: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -99.01395,
            y: -183.08496,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          13,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (70.4086),
        "quartz::components::Order": (2),
        "quartz::components::Num": (3.0),
        "quartz::components::Op": ("NOuts"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          42.0,
          105.0,
          420.0,
          1729.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    7: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 20.894361,
            y: 9.132254,
            z: 0.01,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          12,
          16,
          19,
          22,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (56.062527),
        "quartz::components::Order": (1),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("Stack"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          42.0,
          105.0,
          420.0,
          1729.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    8: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 241.14471,
            y: 34.80115,
            z: 0.02,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          21,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (63.757282),
        "quartz::components::Order": (0),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("empty"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          42.0,
          105.0,
          420.0,
          1729.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    9: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 54.547928,
            y: 194.06778,
            z: 0.03,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          18,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (66.1674),
        "quartz::components::Order": (0),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("empty"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          42.0,
          105.0,
          420.0,
          1729.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    10: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -164.03485,
            y: 66.872765,
            z: 0.04,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          15,
        ]),
        "quartz::components::Vertices": (8),
        "quartz::components::Radius": (78.30419),
        "quartz::components::Order": (0),
        "quartz::components::Num": (0.0),
        "quartz::components::Op": ("empty"),
        "quartz::components::Col": (Hsla(
          hue: 300.0,
          saturation: 1.0,
          lightness: 0.5,
          alpha: 1.0,
        )),
        "quartz::components::Targets": ([]),
        "quartz::components::Arr": ([
          42.0,
          105.0,
          420.0,
          1729.0,
        ]),
        "quartz::components::Save": (),
      },
    ),
    12: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -19.111343,
            y: -30.859228,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (7),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (8.409379),
        "quartz::components::BlackHole": (
          wh: 13,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    13: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 53.78917,
            y: 69.33257,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (6),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (10.561291),
        "quartz::components::WhiteHole": (
          bh: 12,
          bh_parent: 7,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    15: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 29.620834,
            y: -15.023354,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (10),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (11.745629),
        "quartz::components::BlackHole": (
          wh: 16,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    16: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -60.189697,
            y: 28.451809,
            z: 0.002,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (7),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (8.409379),
        "quartz::components::WhiteHole": (
          bh: 15,
          bh_parent: 10,
          link_types: (0, 1),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    18: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -19.66954,
            y: -24.50869,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (9),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (9.92511),
        "quartz::components::BlackHole": (
          wh: 19,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    19: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 18.711617,
            y: 65.619736,
            z: 0.003,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (7),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (8.409379),
        "quartz::components::WhiteHole": (
          bh: 18,
          bh_parent: 9,
          link_types: (0, 2),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    21: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -37.177353,
            y: -13.453682,
            z: 0.001,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (8),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (9.563593),
        "quartz::components::BlackHole": (
          wh: 22,
        ),
        "quartz::components::Col": (Rgba(
          red: 0.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
    22: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 68.21563,
            y: 0.65169525,
            z: 0.004,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": (7),
        "quartz::components::Vertices": (6),
        "quartz::components::Radius": (8.409379),
        "quartz::components::WhiteHole": (
          bh: 21,
          bh_parent: 8,
          link_types: (0, 3),
          open: false,
        ),
        "quartz::components::Col": (Rgba(
          red: 1.0,
          green: 1.0,
          blue: 1.0,
          alpha: 1.0,
        )),
        "quartz::components::Save": (),
      },
    ),
  },
)
